%%% -*- mode: erlang -*-

{require_otp_vsn, "R16B02"}.

{port_env, [{"DRV_CFLAGS", "$DRV_CFLAGS -fPIC -g -Wall -Wextra -Werror"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS -lstdc++"}]}.
{port_specs, [{"priv/lib/scmi_env.so", ["c_src/scmi_env_lib.cc", "c_src/scmi_env.cc"]},
              {"priv/lib/scmi_iodev.so", ["c_src/scmi_iodev_lib.cc", "c_src/scmi_iodev.cc"]}]}.

{erl_opts, [warnings_as_errors]}.
{xrl_opts, [warnings_as_errors]}.
{yrl_opts, [warnings_as_errors]}.

{erl_first_files, ["xfm_import_as_export"]}.

{xref_checks, [undefined_function_calls, deprecated_function_calls]}.

{deps, [{parsetools, "", {git, "git://github.com/the-concurrent-schemer/parsetools.git", {branch, "norton-leex-R16B02"}}}]}.
