%%% -*- mode: erlang -*-

{require_min_otp_vsn, "18"}.

{port_env, [{"DRV_CFLAGS", "$DRV_CFLAGS -fPIC -g -Wall -Wextra -Werror -Wno-missing-field-initializers"},
            {"x86_64-apple-darwin*", "DRV_CFLAGS", "$DRV_CFLAGS -Qunused-arguments -Wno-missing-field-initializers"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS -lstdc++"}]}.
{port_specs, [{"priv/lib/scmi_env.so", ["c_src/scmi_env_lib.cc", "c_src/scmi_env.cc"]},
              {"priv/lib/scmi_iodev.so", ["c_src/scmi_iodev_lib.cc", "c_src/scmi_iodev.cc"]}]}.

{erl_opts, [warnings_as_errors, warn_shadow_vars, warn_obsolete_guard]}.
{xrl_opts, [warnings_as_errors]}.
{yrl_opts, [warnings_as_errors]}.

{erl_first_files, ["xfm_import_as_export"]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

{deps, [{parsetools, "", {git, "git://github.com/the-concurrent-schemer/parsetools.git", {branch, "norton-leex-18.0.3"}}}]}.
